**/.idea/workspace.xml
**/.idea/modules.xml
**/.idea/libraries/
**/build/
**/.gradle/
**/captures/
**/.idea/caches/
**/release
*.DS_Store
*.iml
*.cxx
*.run

.externalNativeBuild
local.properties
assetWizardSettings.xml
navEditor.xml
deploymentTargetDropDown.xml
gradle.xml
misc.xml

**/xcuserdata/
*.xcuserstate
*xcworkspace/xcuserdata/*

*.jks
*.keystore

keystore.properties

*.generated.swift
